@use "./palette.scss" as p;

@mixin background() {
    background: p.$offwhite;
/*     background: linear-gradient(253deg, #662424, #d55858, #dd6666, #cb2d22, #912614);
    background-size: 400% 400%;
    color: #fff;

    -webkit-animation: gradient 39s ease infinite;
    -moz-animation: gradient 39s ease infinite;
    animation: gradient 39s ease infinite; */
}

@-webkit-keyframes gradient {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
@keyframes gradient {
    0%{background-position:75% 0%}
    50%{background-position:26% 100%}
    100%{background-position:75% 0%}
}
