* {
	box-sizing: border-box;
    margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

html {
	display: flex;
}

a {
	color: inherit;
	text-decoration: none;

}

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1;

	/*force scrollbars*/
	/* overflow-y: scroll; */
}