@use "../styles/background.scss" as bg;
@use "../styles/common.scss" as c;
@use "../styles/palette.scss" as p;

.main {
    min-height: 100%;
    width: 100%;
    @include bg.background();
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 3rem 3rem;
    font-family: "Nunito", sans-serif;
    color: black;

    .left {
        flex: 1;
    }   
    .right {
        flex: 1;
        border: 1px solid black;
        h1 {
            font-style: italic;
            margin-bottom: 20px;
        }
    }

}