@use "../../../styles/common.scss" as c;
@use "../../../styles/palette.scss" as p;

.notdeployed {
    display: flex;
    flex-direction: column;
    padding: 40px 200px;
    font-size: 32px;
}

.projectid {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    gap: 20px;


    .project {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .info {
            display: flex;
            align-items: center;
            .left {
                flex: 1;
                .projectname {
                    font-size: 48px;
                    font-weight: bold;
                }
                .punchline {
                    font-size: 32px;
                }
                .creator {
                    margin-top: 2px;
                    font-size: 16px;
                    color: gray;
                }
            }
            .right {
                display: flex;
                gap: 20px;
                .dao {
                    color: white;
                    background-color: transparent;
                    color: black;
                    border: 1px solid p.$orange;
                    height: 64px;
                    padding: 0px 64px;
                    font-size: 22px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .fund {
                    background-color: p.$orange;
                    color: white;
                    border: 1px solid p.$orange;
                    height: 64px;
                    padding: 0px 64px;
                    font-size: 22px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .funding {
                    background-color: p.$orange;
                    color: white;
                    border: 4px solid p.$orange;
                    font-size: 22px;
                    border-radius: 4px;
                    height: 64px;
                    cursor: pointer;
                    display: flex;
                    

                    input {
                        border: none;
                        height: 100%;
                        padding: 0px 12px;
                    }
                    button {
                        height: 100%;
                        background-color: p.$orange;
                        color: white;
                        border: 1px solid p.$orange;
                        font-size: 22px;
                        border-radius: 4px;
                        padding: 0 24px;
                        cursor: pointer;
                    }
                
                }
            }
        }
        .content {
            display: flex;
            img {
                width: 400px;
                height: 300px;
                object-fit: cover;
                border-radius: 4px;
            }
            .details {
                flex: 1;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .detail {
                    label {
                        font-size: 16px;
                        color: gray;
                    }
                    p {
                        font-size: 18px;
                    }
                
                    .raised {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .bar {
                            width: 340px;
                            height: 30px;
                            border: 2px solid p.$orange;
                            border-radius: 4px;
                            padding: 8px;
                        }
                        .fill {
                            background-color: p.$orange;
                            height: 100%;
                            border-radius: 1px;
                        }
                        p {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .milestones {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .milestone {
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 14px;
                height: min-content;

                .mile {
                    padding: 8px;
                    @include c.center();
                    flex-direction: column;
                    background-color: black;
                    border-radius: 2px;
                    color: white;
                    label {
                        font-size: 20px;
                        color: white;
                    }
                }

                .stone {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .name {
                        font-size: 24px;
                        font-weight: bold;
                    
                    }
                }
            }
        }

        .goal {
            width: 20%;
        }

    }
}