@use "../../styles/background.scss" as bg;
@use "../../styles/common.scss" as c;
@use "../../styles/palette.scss" as p;

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    background-color: p.$orange;

    .splash {
        font-size: 42px;
        line-height: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .search {
        width: 38%;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 6px;
        display: flex;
        .magnify {
            width: 34px;
            @include c.center();
            color: black;
            cursor: pointer;
        }
        input {
            padding: 8px;
            flex: 1;
            border: transparent;
            background-color: transparent;
            &::placeholder {
                color: rgba(0, 0, 0, 0.614);
            }
        }
    }

    .actions {
        display: flex;
        gap: 10px;
        .connect {
            display: flex;
            align-items: center;
            background-color: p.$gray;
            padding: .75rem 2rem;
            color: white;
            border-radius: 6px;
            gap: 10px;
        }
    }
}