@use "../../styles/background.scss" as bg;
@use "../../styles/common.scss" as c;
@use "../../styles/palette.scss" as p;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: p.$orange;
    color: black;

    .rheo {
        color: inherit;
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 20%;
        cursor: pointer;
        font-weight: bold;
    }

    .search {
        width: 38%;
        /* padding: 8px; */
        background-color: transparent;
        border: 2px solid black;
        border-radius: 6px;
        display: flex;
        .magnify {
            width: 34px;
            @include c.center();
            color: black;
            cursor: pointer;
        }
        input {
            padding: 8px;
            flex: 1;
            border: transparent;
            background-color: transparent;
            &::placeholder {
                color: rgba(0, 0, 0, 0.614);
            }
        }
    }

    span {
        width: 20%;
        display: flex;
        gap: 20px;
        align-items: center;

        .cta {
            padding: 8px;
            border-radius: 4px;
            border: 2px solid black;
            background-color: transparent;
            color: inherit;
            font-weight: bold;
            cursor: pointer;
        }

        .connect, .disconnect {
            padding: 8px;
            border-radius: 4px;
            border: 1px solid black;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        .profile {
            cursor: pointer;
            padding: 8px;
            height: 32px;
            width: 32px;
            @include c.center();
            color: inherit;
            border: 2px solid black;
            border-radius: 50%;
        }
    }
}