@use "../styles/background.scss" as bg;
@use "../styles/common.scss" as c;

.loader {
    height: 100%;
    width: 100%;
    @include bg.background();
    @include c.center();
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}