.spinner {
    
    border: .2em solid rgba(0, 0, 0, 0.1);
    border-top: .2em solid #fff;
    
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}